<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuite name="SilverStripe Link Cache">
        <directory>tests/</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
